$primary-name-color: #5C6267;
$job-description-color: #568EC6;

$description-label-default-size: 12px;

.user-img {
    width: 120px;
    padding-right: 15px;
}

.professional-name-label {
color: $primary-name-color;
}

.job-description-label {
    color: $job-description-color;
    font-size: $description-label-default-size;
    padding-right: 5px;
    font-weight: bold;
    border-right: solid 1px black;
}

.review-star {
    width: 10px;
}

.place-label {
font-size: $description-label-default-size;
padding-left: 5px;
}

.review-label {
    font-size: $description-label-default-size;
    padding-left: 3px;
}

.professional-summary-label {
    font-size: $description-label-default-size;
    color: $primary-name-color;
    padding-left: 20px;

}