<div class="container-fluid mt-md-5 mt-4">
    <div class="row">
        <div class="col-sm-12 col-md-6 px-2 ms-md-5 mb-4">
            <div class="row">
                <zen-professional-details></zen-professional-details>
            </div>
        </div>

        <div *ngIf="avaliableDates" class="col-sm-12 col-md-4 px-0 ">
            <div class="card text-center scheduler">
                <div class="card-header calendar-header">
                    <span class="header-title">Schedule your session</span>
                    <span> Timezone</span>
                </div>
                <div class="card-body day-marker-body">
                    <div class="row">
                        <div class="col-2">
                            <img src="/assets/img/previous.png" class="next-prev-img" alt="" srcset="">
                        </div>
                        <div *ngFor="let scheduleDate of avaliableDates" class="col-2 day-marker">
                            <span class="week-day-marker">{{scheduleDate.month}}</span>
                            <span class="date-marker">{{scheduleDate.dayName}} {{scheduleDate.dayDate}}</span>
                        </div>
                    
                        <div class="col-2">
                            <img src="/assets/img/next.png" class="next-prev-img" alt="" srcset="">
                        </div>
                    </div>

                </div>
            </div>

            <div class="text-center day-marker-body schedule-card   ">

                <button  *ngFor="let hours of avaliableHours" (click)="markSchedule(hours)" [ngClass]="hours.avaliable ? 'schedule-hour-button' : 'busy-scheduler'">{{hours.hour}}</button>
                     
                   
            </div>
        </div>
    </div>
</div>