.calendar-header{
    color: #FFFF;
    background: #007BDB;
    .header-title {
        font-weight: 700;
        display: block;
    }
    border-radius: none;
}

.day-marker-body {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.scheduler{
    border: none;
    border-radius: none;
     
}
.schedule-hour {
    background: #E1E6EC;
    /* margin: 2px; */
    font-size: 12px;
    font-weight: bold;
    color: #99A4AA;
    position: relative;
}

.next-prev-img {
    width: 20px;
    padding-top: 6px;
}

.day-marker {
    color: #868A8B;
    .week-day-marker{
        display: block;
        font-size: 8px;
    }
    .date-marker {
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .day-marker {
        .date-marker{
            font-size:8px;
        }
    }
}