    <div class="row">
        <div class="col-sm-12 col-md-6 px-2 ms-md-5 mb-4">
            <div class="row">
                <zen-professional-details></zen-professional-details>
            </div>
        </div>

        <div *ngIf="avaliableDates" class="col-sm-12 col-md-4 px-0 ">
            <div class="card text-center scheduler">
                <div class="card-header calendar-header">
                    <span class="header-title">Schedule your session</span>
                    <span> Timezone</span>
                </div>
                <div class="card-body day-marker-body">
                    <div class="row">
                        <div class="col-2">
                            <i class="material-icons navigate-next-icon">navigate_before</i>
                        </div>
                        <zen-week-day-marker class="col-2" *ngFor="let scheduleDate of avaliableDates" [scheduleDate]="scheduleDate"></zen-week-day-marker>
                        <div class="col-2">
                            <i class="material-icons navigate-next-icon">navigate_next</i>
                        </div>
                    </div>

                </div>
            </div>

            <div class="text-center day-marker-body schedule-card  mt-md-3">
                <button  *ngFor="let hours of avaliableHours" (click)="markSchedule(hours)" [ngClass]="hours.avaliable ? 'schedule-hour-button' : 'busy-scheduler'">{{hours.hour}}</button>    
            </div>
        </div>
    </div>
